# =========================================
# DATABASE
# =========================================

POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# URL interna docker
DOCKER_DATABASE_URL=

# =========================================
# MINIO
# =========================================

MINIO_ROOT_USER=
MINIO_ROOT_PASSWORD=

# Backend
MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=

# =========================================
# APPLICATION
# =========================================

NODE_ENV=
PORT=

# =========================================
# DOMAIN / HTTPS
# =========================================

DOMAIN_NAME=
CERTBOT_EMAIL=

# =========================================
# GITHUB CONTAINER REGISTRY
# =========================================

GHCR_USER=
GHCR_PAT=

# =========================================
# FRONTEND
# =========================================

FRONTEND_URL=

# =========================================
# BACKEND
# =========================================

BACKEND_URL=